@import url(https://fonts.googleapis.com/css?family=Radio+Canada+Big:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+4:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Geist+Mono:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import "tailwindcss";

:root {
  --ls-heading: -0.02em; /* mobile default */
}

@media (min-width: 800px) {
  :root {
    --ls-heading: -0.03em; /* tablet */
  }
}

@media (min-width: 1280px) {
  :root {
    --ls-heading: -0.05em; /* desktop */
  }
}

@theme {
  --color-pg-2: #6c6c6c;
  --color-divider: #dbe0ec;
  --color-bg-2: #f6f8fb;
  --color-link: #2683eb;
  --color-bg-4: #fff546;
  --color-pg-2: #6c6c6c;
  --color-pg-3: #66640f;

  --font-serif: "Source Serif 4", serif;
  --font-sans: "Radio Canada Big", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --text-heading-base: clamp(2.063rem, 1.028rem + 4.413vw, 5rem);
  --text-heading-base--letter-spacing: -4%;
  --text-heading-base--line-height: 1;
  --text-heading-base--font-family: var(--font-serif);
  --text-heading-base--font-weight: 400;

  --text-heading-sub: clamp(2.063rem, 1.028rem + 4.413vw, 5rem);
  --text-heading-sub--letter-spacing: var(--ls-heading);
  --text-heading-sub--line-height: 1;
  --text-heading-sub--font-family: var(--font-sans);
  --text-heading-sub--font-weight: 400;

  --text-heading-sm: clamp(1.5rem, 0.786rem + 1.905vw, 2.5rem);
  --text-heading-sm--letter-spacing: -3%;
  --text-heading-sm--line-height: 1;
  --text-heading-sm--font-family: var(--font-sans);
  --text-heading-sm--font-weight: 600;

  --text-paragraph-1: clamp(1.115rem, 1.036rem + 0.138vw, 1.15rem);
  --text-paragraph-1--letter-spacing: -2%;
  --text-paragraph-1--line-height: 1.1;
  --text-paragraph-1--font-family: var(--font-serif);
  --text-paragraph-1--font-weight: 600;

  --text-paragraph-2: clamp(1.125rem, 1.036rem + 0.238vw, 1.25rem);
  --text-paragraph-2--letter-spacing: var(--ls-heading);
  --text-paragraph-2--line-height: 1.2;
  --text-paragraph-2--font-family: var(--font-serif);
  --text-paragraph-2--font-weight: 400;
}

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  body {
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  img {
    display: block;
    max-width: 100%;
  }

  ::-webkit-scrollbar {
    width: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background: #8888881c;
    border-radius: 10px;
    border: 4px solid transparent;
    background-clip: content-box;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  img {
    width: 100%;
  }
}

@layer components {
  .wrapper {
    @apply max-w-full px-4;
  }

  .btn {
    @apply bg-black text-white text-center font-mono w-fit py-[0.5em] px-[0.8em];
  }
}

@layer utilities {
  .hero-gradient {
    position: relative;
    /* Remove the background from here */
  }

  .hero-gradient::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: clamp(31.25rem, 17.5rem + 36.667vw, 50.5rem);
    background: linear-gradient(to bottom, #a8d3ff, #fff4df);
    z-index: 0;
  }
}
